<main>
  <h1>{{title}}</h1>

  <nav>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/clients" routerLinkActive="active">Clients</a>
    <a routerLink="/rentals" routerLinkActive="active">Rentals</a>
  </nav>

  <router-outlet></router-outlet>

  <div class="container">
    <div class="row">
      <div class="col-4 bg-success-subtle">
        <app-rental-inbox></app-rental-inbox>
      </div>
      <div class="col-4 bg-warning-subtle">
        <app-movie-inbox></app-movie-inbox>
      </div>
      <div class="col-4 bg-danger-subtle">
        <app-clients-inbox></app-clients-inbox>
      </div>
    </div>
  </div>

</main>


