<div *ngIf="client">
  <h2>Client {{client.firstName}} {{client.lastName}} details</h2>
  <div>
    <label>Client ID: </label>{{client.id}}
  </div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="client.firstName" placeholder="firstName">
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="client.lastName" placeholder="lastName">
  </div>
  <div>
    <label>Date of birth: </label>
    <input [(ngModel)]="client.dateOfBirth" placeholder="dateOfBirth">
  </div>
  <div>
    <label>Email: </label>
    <input [(ngModel)]="client.email" placeholder="email">
  </div>
  <div>
    <label>Subscribed: </label>
    <select [(ngModel)]="client.subscribe" placeholder="subscribe">
      <option *ngFor="let isSubscribed of subscribe" [value]="isSubscribed">{{ isSubscribed }}</option>
    </select>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
  <button (click)="delete()">Delete</button>
</div>
